apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: devops-journey

resources:
  - ../../base
  - secret.yaml

patches:
  - path: patches/backend-patch.yaml
  - path: patches/frontend-patch.yaml
  - path: patches/ingress-patch.yaml

images:
  - name: devops-journey-backend
    newName: devops-journey-backend
    newTag: local
  - name: devops-journey-frontend
    newName: devops-journey-frontend
    newTag: local

configMapGenerator:
  - name: backend-config
    behavior: merge
    literals:
      - ENVIRONMENT=development
      - ALLOW_ORIGINS=http://localhost:3000,http://devops.local
  - name: frontend-config
    behavior: merge
    literals:
      - NODE_ENV=development
      - NEXT_PUBLIC_API_URL=http://api.devops.local
