# IMPORTANT: Bu dosyayi secret.yaml olarak kopyalayip degerleri doldurun
# secret.yaml dosyasini Git'e commit ETMEYiN!
apiVersion: v1
kind: Secret
metadata:
  name: fsdevops-backend-secrets
  labels:
    app.kubernetes.io/part-of: fsdevops-portfolio
    app.kubernetes.io/component: backend
type: Opaque
stringData:
  DB_PASSWORD: "<db-password-buraya>"
  JWT_SECRET: "<jwt-secret-buraya>"
---
apiVersion: v1
kind: Secret
metadata:
  name: fsdevops-backup-credentials
  labels:
    app.kubernetes.io/part-of: fsdevops-portfolio
    app.kubernetes.io/component: database
type: Opaque
stringData:
  accessKeyId: "<minio-access-key-buraya>"
  secretAccessKey: "<minio-secret-key-buraya>"
