apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: devops-journey

resources:
  - namespace.yaml
  - configmap.yaml
  - postgres.yaml
  - backend.yaml
  - frontend.yaml
  - ingress.yaml
  - networkpolicy.yaml

commonLabels:
  app.kubernetes.io/part-of: devops-journey
  app.kubernetes.io/managed-by: kustomize
